<%- include('./partials/header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2 class="heading">URC Learning Hub | <b>Dashboard</b></h2>
        <div class="Dashboard-content">
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'Books')" id="defaultOpen">Books</button>
                <button class="tablinks" onclick="openCity(event, 'Videos')">Videos</button>
              </div>
              
              <div id="Books" class="tabcontent">
                <h3>Books</h3>
                <div class="col-md-12">
                    <div class="add_bt">
                        <a href="/addbooks" style="text-decoration: none; color: black;"><p><i class="bi bi-plus-circle-fill"> </i>  Add Books</p></a>
                        
                        <table class="table table-primary table-striped-columns">
                            <thead>
                              <tr>
                                <th scope="col">Book title</th>
                                <th scope="col">Author's Name</th>
                                <th scope="col">Book image</th>
                                <th scope="col">Book Category</th>
                                <th scope="col">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if (Books.length > 0){ %> <% Books.forEach(Books => { %>
                              <tr>
                            
                                <td><%= Books.book_title %></td>
                                <td><%= Books.author_name %></td>
                                <td><%= Books.book_image_id %></td>
                                <td><%= Books.book_category %></td>
                                <td>
                                <a href="/editbook/<%- Books._id %>" style="margin-right:5px; color:green;"><i class="bi bi-pencil-square"></i></a>
                                    <a href="/deletebook/<%- Books._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                                </td>
                              </tr>
                              <% }) %> <% } else{ %>
                                <p>There are no Books to be displayed</p>
                              <% } %>
                            </tbody>
                          </table>
                    </div>
                </div>
              </div>
              
              <div id="Videos" class="tabcontent">
                <h3>Videos</h3>
                <div class="col-md-12">
                  <div class="add_bt">
                      <a href="/addvideos" style="text-decoration: none; color: black;"><p><i class="bi bi-plus-circle-fill"> </i>  Add Videos</p></a>
                      <table class="table table-primary table-striped-columns">
                          <thead>
                            <tr>
                              <th scope="col">Video title</th>
                              <th scope="col">Video Link</th>
                              <th scope="col">Video Category</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% if (Videos.length > 0){ %> <% Videos.forEach(Videos => { %>
                            <tr>
                          
                              <td><%= Videos.video_title %></td>
                              <td><%= Videos.video_url %></td>
                              <td><%= Videos.video_category %></td>
                              <td>
                              <a href="/editvideo/<%- Videos._id %>" style="margin-right:5px; color:green;"><i class="bi bi-pencil-square"></i></a>
                                  <a href="/deletevideo/<%- Videos._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                              </td>
                            </tr>
                            <% }) %> <% } else{ %>
                              <p>There are no Videos to be displayed</p>
                            <% } %>
                          </tbody>
                        </table>
                  </div>
              </div>
              </div>
        </div>
    </div>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
