<%- include('../partials/header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="heading">URC Learning Hub | <b>Dashboard</b></h2>
      <div class="Dashboard-content">
        <div class="tab">
          <button
            class="tablinks"
            onclick="openCity(event, 'Books')" 
          >
            Books
          </button>
          <button class="tablinks" onclick="openCity(event, 'Videos')"
          id="defaultOpen"
          >
            Videos
          </button>
        </div>

        <div id="Books" class="tabcontent">
          <h3>Books</h3>
          <div class="col-md-12">
            <div class="add_bt">
                <a href="/addbooks" style="text-decoration: none; color: black;"><p><i class="bi bi-plus-circle-fill"> </i>  Add Books</p></a>
                
                <table class="table table-primary table-striped-columns">
                    <thead>
                      <tr>
                        <th scope="col">Book title</th>
                        <th scope="col">Author's Name</th>
                        <th scope="col">Book image</th>
                        <th scope="col">Book Category</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (Books.length > 0){ %> <% Books.forEach(Books => { %>
                      <tr>
                    
                        <td><%= Books.book_title %></td>
                        <td><%= Books.author_name %></td>
                        <td><%= Books.book_image_id %></td>
                        <td><%= Books.book_category %></td>
                        <td>
                        <a href="/editbook/<%- Books._id %>" style="margin-right:5px; color:green;"><i class="bi bi-pencil-square"></i></a>
                            <a href="/deletebook/<%- Books._id %>" style="color: red;"><i class="bi bi-trash"></i></a>
                        </td>
                      </tr>
                      <% }) %> <% } else{ %>
                        <p>There are no Books to be displayed</p>
                      <% } %>
                    </tbody>
                  </table>
            </div>
        </div>
        </div>

        <div id="Videos" class="tabcontent">
          <h3>Videos</h3>
          <div class="col-md-12">
            <div class="add_bt">
              <a href="/" style="text-decoration: none;color: black;"><p><i class="bi bi-pen"></i> Manage Videos</p></a>
              <form method="post" action="/savevideos" id="staform">
                <div>
                  <label>Video Title</label>
                  <input
                    type="text"
                    name="video_title"
                    placeholder="Video Title"
                  />
                </div>
                <br />
                <div>
                  <label>Video Category</label>
                  <input
                    type="text"
                    name="video_category"
                    placeholder="Video Category"
                  />
                </div>
                <br />
                <div>
                  <label>Video Url</label>
                  <input
                    type="text"
                    name="video_url"
                    placeholder="Video Url"
                  />
                </div>
                <br />

                <button type="submit" class="updatebtn">Add Video</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>
